__pycache__/
.ipynb_checkpoints/
tools/*.so
tools/TMalign
tools/TMscore
tools/build/
.DS_Store
outputs/
wandb/
*.so
tools/py_qcprot/build/
build/
tools/py_qcprot/*.so
*.cpp
*.c
.vscode/
EigenFold/
OmegaFoldE/
*.pt
structures/
openfold/